.me {
    font-weight: bold;
    .title {
        font-size: 30px;
    };
    .pure-blod {
        margin-top: 50px;
        font-size: 24px;
    };
    .fullstack {
        margin-top: 15px;
        font-size: 30px;
    };
    .version {
        margin-top: 50px;
        font-size: 14px;
    };
}