$color-black: #000000;
$color-gray: #aaaaaa;
$color-white: #ffffff;
$color-yellow: #ffbe0b;
$color-brown: #c75000;
$color-orange: #fb5607;
$color-pink: #ff006e;
$color-purple: #8338ec;
$color-blue: #3a86ff;
$color-green: #04e762;

.color-black {
  color: $color-black;
}
.color-gray {
  color: $color-gray;
}
.color-white {
  color: $color-white;
}
.color-yellow {
  color: $color-yellow;
}
.color-brown {
  color: $color-brown;
}
.color-orange {
  color: $color-orange;
}
.color-pink {
  color: $color-pink;
}
.color-purple {
  color: $color-purple;
}
.color-blue {
  color: $color-blue;
}
.color-green {
  color: $color-green;
}
